@use './variables' as *;

.aboutMe {
  background: $cream;
  background: linear-gradient(180deg, $cream 0%, $secondaryColorLight 100%);

  h2 {
    font-size: 7rem;
    font-family: $headingFont;

    span {
      background-color: $secondaryColorLight;
      display: block;
      height: 10px;
      margin: 0 auto;
      transform: skew(-20deg);
      width: 50%;
    }
  }

  .wrapper {
    background-color: rgba($cream, 0.5);
    height: 85%;
    padding: 20px;
    text-align: center;
  }
  
  .aboutMeContainer{
    display: flex;
    height: 80%;
    padding-top: 40px;
  }
  
  .imageContainer {
    margin: 30px 50px;
    width: 45%;
  }
  
  .textContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 30px;
    position: relative;
    text-align: left; 
    width: 55%;
    
    p {
      margin: 10px 50px;
      font-size: 2rem;
    }

    .introTop,
    .introBottom{
      font-family: $headingFont;
      font-size: 4rem;
    }

    .buttonContainer {
      display: flex;
      margin: 30px 0;

      a {
        background: $primaryColorLight;
        border: 2px solid $primaryColorDark;
        border-radius: 5px;
        color: $cream;
        padding: 20px 40px;
        text-decoration: none;

        &:first-child { margin-right: 20px; }
      
        &:hover { cursor: pointer; }

        i { padding-right: 10px; }
      }
    }
  }
}