@use './variables' as *;

.aboutMe {
  background: $cream;
  background: linear-gradient(180deg, $cream 0%, $secondaryColorLight 100%);

  h2 {
    font-size: 7rem;
    font-family: $headingFont;

    span {
      background-color: $secondaryColorLight;
      display: block;
      height: 10px;
      margin: 0 auto;
      transform: skew(-20deg);
      width: 50%;
    }
  }

  .wrapper {
    background-color: rgba($cream, 0.5);
    height: 85%;
    padding: 20px;
    text-align: center;
  }
  
  .aboutMeContainer{
    display: flex;
    height: 80%;
    padding-top: 40px;
  }
  
  .imageContainer {
    margin: 30px 50px;
    min-height: 550px;
    width: 45%;

    .flipImgContainerBack,
    .flipImgContainerFront {
      border-radius: 10px;

      img { 
        border-radius: inherit;
        width: 100%; 
      }

      p {
        background-color: $cream;
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
        bottom: 0;
        font-size: 2.5rem;
        left: 0;
        padding: 20px;
        position: absolute;
        text-align: center;
        width: 100%;
      }

      span { 
        font-family: $primaryFontBold;
        letter-spacing: 1.5px;
      }
    }
  }
  
  .textContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 30px;
    position: relative;
    text-align: left; 
    width: 55%;
    
    p {
      margin: 10px 50px;
      font-size: 2rem;
    }

    .introTop,
    .introBottom{
      font-family: $headingFont;
      font-size: 4rem;
      letter-spacing: 1px;
    }

    .buttonContainer {
      display: flex;
      margin: 30px 0;

      a {
        background-color: $primaryColorLight;
        border: 2px solid $primaryColorDark;
        border-radius: 5px;
        box-shadow: 3px 3px 0px $primaryColorDark;
        color: $cream;
        padding: 20px;
        position: relative;
        text-decoration: none;
        transition: all 250ms;

        &:first-child { margin-right: 20px; }
      
        &:focus, 
        &:hover { 
          background-color: $primaryColorDark;
          box-shadow: 3px 0px 0px $primaryColorDark;
          cursor: pointer;
          top: 3px;
        }

        i { padding-right: 10px; }
      }
    }
  }
}