@use "./variables" as *;

html {
  background-color: $cream;
  font-family: $primaryFontMedium;
  font-size: $rootFontSize;
  scroll-behavior: smooth;
} 

h1, h2, h3, h4, h5, h6, p, ul, li, nav {
  margin: 0;
  padding: 0;
}

p, a { font-size: 1.8rem; }

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.aboutMe,
.experience,
.projects, 
.contactForm {
  height: 100vh;
}

footer {
  background-color: $darkGreen;
}