@use "./variables" as *;

html {
  background-color: $cream;
  font-family: $primaryFont;
  font-size: $rootFontSize;
  scroll-behavior: smooth;
} 

h1, h2, h3, h4, h5, h6, p, ul, li, nav {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  letter-spacing: 2px;
}

p, a { font-size: 1.8rem; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.aboutMe,
.experience,
.projects, 
.contactForm {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  padding-bottom: 50px;
}