@use "./variables" as *;

.contactForm {
  background: $primaryColorLight;
  background: linear-gradient(
    180deg,
    $primaryColorLight 0%,
    $primaryColorDark 100%
  );

  h2 {
    font-size: 7rem;
    font-family: $headingFont;
    padding-top: 20px;

    span {
      background-color: $primaryColorDark;
      display: block;
      height: 10px;
      margin: 0 auto;
      position: relative;
      transform: skew(-20deg);
      width: 50%;
      z-index: 0;
    }
  }

  .wrapper {
    background-color: rgba($cream, 0.5);
    height: 85%;
    text-align: center;
  }

  .formContainer {
    font-size: 2rem;
    margin: 50px auto;
    width: 90%;

    button {
      background-color: $primaryColorLight;
      border: 2px solid $primaryColorDark;
      box-shadow: 3px 3px 0px $primaryColorDark;
      border-radius: 5px;
      color: $cream;
      font-family: $primaryFont;
      font-size: 2rem;
      margin: 20px auto;
      padding: 20px 40px;
      position: relative;
      text-decoration: none;

      &:focus,
      &:hover {
        background-color: $primaryColorDark;
        box-shadow: 3px 0px 0px $primaryColorDark;
        cursor: pointer;
        top: 3px;
      }

      &:disabled,
      &[disabled] {
        border: 2px solid $grey;
        background-color: $lightGrey;
        box-shadow: 3px 0px 0px $grey;
        color: $grey;
        pointer-events: none;
      }
    }

    form {
      display: flex;
      flex-wrap: wrap;
      margin: 30px auto 0;
      width: 80%;
    }

    label {
      font-family: $primaryFont;
      font-size: 2rem;
    }

    textarea {
      height: 200px;
    }

    input,
    textarea {
      border-color: transparent;
      border-radius: 5px;
      box-shadow: 3px 3px 10px $black;
      font-family: $primaryFont;
      margin-top: 10px;
      padding: 20px;
    }

    .line {
      background-color: $primaryColorDark;
      display: block;
      height: 10px;
      margin: 20px auto;
      transform: skew(-20deg);
      width: 60%;
    }

    .textContainer {
      text-align: left;
      width: 80%;
      margin: 20px auto 50px;
      padding: 0 20px;

      p {
        font-size: 2rem;
        margin: 10px 50px;
      }

      .introTop,
      .introBottom {
        font-family: $secondaryFont;
        font-size: 2.5rem;
        letter-spacing: 1px;
      }

      .submittedForm {
        font-size: 2.5rem;
        font-family: $primaryFontBold;
      }
    }
  }

  .emailContainer,
  .messageContainer,
  .nameContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
  }

  .nameContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .firstName,
  .lastName {
    display: flex;
    flex-direction: column;
    width: 49%;
  }

  .buttonContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 75%;

    a {
      border: 2px solid $black;
      border-radius: 5px;
      box-shadow: 3px 3px 0px $primaryColorDark;
      color: $cream;
      font-size: 2rem;
      padding: 20px 40px;
      position: relative;
      text-decoration: none;
      transition: all 250ms;

      &:focus,
      &:hover {
        background-color: $primaryColorDark;
        box-shadow: 3px 0px 0px $primaryColorDark;
        cursor: pointer;
        top: 3px;
      }
    }

    i {
      padding-right: 10px;
    }

    #linkedin {
      background-color: $linkedin;
      border-color: $linkedinDark;
      box-shadow: 3px 3px 0px $linkedinDark;

      &:focus,
      &:hover {
        background-color: $linkedinDark;
        box-shadow: 3px 3px 0px $linkedinDark;
      }
    }

    #github {
      background-color: $github;
      border-color: $githubDark;
      box-shadow: 3px 3px 0px $githubDark;

      &:focus,
      &:hover {
        background-color: $githubDark;
        box-shadow: 3px 3px 0px $githubDark;
      }
    }

    #calendy {
      background-color: $neon;
      border-color: $neonDark;
      box-shadow: 3px 3px 0px $neonDark;

      &:focus,
      &:hover {
        background-color: $neonDark;
        box-shadow: 3px 3px 0px $neonDark;
      }
    }
  }
}
