@use './variables' as *;

.experience {
  background: $secondaryColorLight;
  background: linear-gradient(180deg, $secondaryColorLight 0%, $secondaryColorDark 100%);

  h2 {
    font-size: 7rem;
    font-family: $headingFont;
    padding-top: 20px;

    span {
      background-color: $secondaryColorDark;
      display: block;
      height: 10px;
      margin: 0 auto;
      transform: skew(-20deg);
      width: 50%;
    }
  }
  
  .wrapper {
    background-color: rgba($cream, 0.5);
    height: 85%;
    text-align: center;
  }

  .jobContainer { display: flex; }

  .jobTitleContainer {
    margin: 20px 0;
    width: 40%;

    h3 {
      font-size: 3rem;
      font-family: $headingFont;
      letter-spacing: 1.3px;

      span {
        background-color: $secondaryColorDark;
        display: block;
        height: 10px;
        margin: 0 auto 20px;
        transform: skew(-20deg);
        width: 50%;
      }
    }
  }

  .jobTitleList {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 95%;
    
    li {
      align-items: center;
      background-color: lighten($secondaryColorDark, 10%);
      border: 2px solid $secondaryColorDark;
      color: $cream;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 10px 0;
      width: 100%;

      &:focus, 
      &:hover { 
        background-color: $cream;
        border-color: $secondaryColorDark;
        color: $secondaryColorDark;
        cursor: pointer;
       }
    }

    .active {
      background-color: $cream;
      border-color: $secondaryColorDark;
      color: $secondaryColorDark;
    }
  }

  .jobTitleDescription {
    margin: 40px auto 0;
    padding: 40px;
    text-align: left;
    width: 60%;

    p {
      font-size: 2rem;
      padding-bottom: 10px;

      span {
        font-family: $headingFont;
        font-size: 3.5rem;
        letter-spacing: 1.3px;
        padding-right: 10px;
      }
    }

    ul { padding-left: 10px; }
  }
}