@use '../partials/variables' as *;

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;

  h1{
    font-family: $headingFont;
    font-size: calc(13rem + 5vw);
    text-transform: uppercase;
  }

  h2{
    background: linear-gradient(to right, transparent 50%, $darkGreen 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    padding: 5px 25px;
    transition: all 0.5s ease;
    text-transform: uppercase;
    transform: skew(-20deg);
    
    &:hover{
      background-color: $darkGreen;
      background-position: right bottom;
      font-family: $primaryFontBold;
      cursor: pointer;
    }
    
    a {
      font-size: 5rem;
    }
  }

  span {
    background-color: $darkGreen;
    display: inline-block;
    height: 15px;
    margin: 0 auto;
    width: 50%;
  }

  .backgroundBlend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgb(82, 177, 154);
    background: linear-gradient(180deg, transparent 0%, $cream 100%);
  }

  .wrapper {
    align-items: center;
    color: $cream;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
    margin: auto 0;
  }

}