@use "./variables" as *;

nav {
  background-color: $cream;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 150ms linear 0ms;
  z-index: 1;

  ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    
    li {
      list-style: none;
      text-align: center;
      width: 100%;
    }
    
    a {
      border: 1px solid $primaryColorDark;
      background: linear-gradient(to right, transparent 50%, $primaryColorLight 50%);
      background-size: 200% 100%;
      background-position: left bottom;
      display: block;
      font-family: $primaryFont;
      font-size: 2.5rem;
      letter-spacing: 1px;
      padding: 20px;
      text-decoration: none;   
      text-transform: uppercase;   
      transition: all 0.5s ease;
      width: 100%;
      
      &:focus,
      &:hover {
        background-color: $primaryColorLight;
        background-position: right bottom;
        border-left: 1px solid $primaryColorDark;
        color: $cream;
        cursor: pointer;
      }
    }
  }
}