@use './variables' as *;


.projects {
  background: $secondaryColorDark;
  background: linear-gradient(180deg, $secondaryColorDark 0%, $primaryColorLight 100%);
  height: 700px;

  h2 {
    font-size: 7rem;
    font-family: $headingFont;
    padding-top: 20px;

    span {
      background-color: $primaryColorLight;
      display: block;
      height: 10px;
      margin: 0 auto;
      transform: skew(-20deg);
      width: 50%;
    }
  }

  .wrapper {
    background-color: rgba($cream, 0.5);
    height: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .projectsContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 3rem;
      font-family: $primaryFontBold;
      width: 75%;
      margin: 0 auto;
    }
  }
}