@use "./variables" as *;

.projects {
  background: $secondaryColorDark;
  background: linear-gradient(
    180deg,
    $secondaryColorDark 0%,
    $primaryColorLight 100%
  );
  min-height: 100vh;
  position: relative;

  h2 {
    font-size: 7rem;
    font-family: $headingFont;
    padding-top: 20px;

    span {
      background-color: $primaryColorLight;
      display: block;
      height: 10px;
      margin: 0 auto;
      transform: skew(-20deg);
      width: 50%;
    }
  }

  .wrapper {
    background-color: rgba($cream, 0.5);
    height: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .languagesContainer {
    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      border: 1px solid black;
      font-size: 2rem;
      list-style: none;
      margin: 5px;
      padding: 10px 0;
      width: calc((100% / 3) - 10px);

      i {
        display: block;
      }
    }
  }

  .projectsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
      font-size: 3rem;
      font-family: $primaryFontBold;
      margin-bottom: 20px;
    }

    p {
      font-family: $primaryFont;
    }
  }

  .projectDisplayContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    .projectItem {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 3px;
      height: 250px;
      list-style: none;
      margin: 5px 0;
      overflow: hidden;
      position: relative;
      width: calc((100% / 3) - 5px);

      &:hover {
        cursor: pointer;
      }

      &:focus .projectTitleContainer,
      &:hover .projectTitleContainer {
        opacity: 1;
      }

      img {
        display: block;
        height: auto;
        width: 100%;
      }

      .projectTitleContainer {
        align-items: center;
        background: rgba($black, 1);
        color: $cream;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        opacity: 0;
        position: absolute;
        transition: all 0.3s;
        width: 100%;
      }
    }
  }
}
