@font-face {
  font-family: "Butler Black";
  src: url('./fonts/Butler_Black.otf') format('opentype');
}
@font-face {
  font-family: "Butler Bold";
  src: url('./fonts/Butler_Bold.otf') format('opentype');
}
@font-face {
  font-family: "Butler Extra Bold";
  src: url('./fonts/Butler_ExtraBold.otf') format('opentype');
}
@font-face {
  font-family: "Butler Ultra Light";
  src: url('./fonts/Butler_Ultra_Light.otf') format('opentype');
}
@font-face {
  font-family: "Butler Light";
  src: url('./fonts/Butler_Light.otf') format('opentype');
}
@font-face {
  font-family: "Butler Medium";
  src: url('./fonts/Butler_Medium.otf') format('opentype');
}
@font-face {
  font-family: "Butler Regular";
  src: url('./Butler_Regular.otf') format('opentype');
}
@font-face {
  font-family: "Recia Serif";
  src: url('./fonts/ReciaSerifDisplay-Bold.ttf') format('truetype');
}