// Garet Font
@font-face {
  font-family: "Garet Book";
  src: url('./fonts/Garet_Font/Garet-Book.otf') format('opentype');
}

@font-face {
  font-family: "Garet Bold";
  src: url('./fonts/Garet_Font/Garet-Heavy.otf') format('opentype');
}
// Recia Font Family
@font-face {
  font-family: "Recia Serif";
  src: url('./fonts/Recia_Font/ReciaSerifDisplay-Bold.ttf') format('truetype');
}
