.experience {
  display: flex;
  height: 80vh;
  margin: 3rem 0;

  h2{
    font-size: calc(5.5rem - 0.5vw);
    margin: 6rem 0;
  }

  &_items{
    height: 100%;
    overflow: scroll;
    width: 70%;

    ul {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      li {
        align-items: center;
        background-color: $experienceBase;
        border-radius: 40px;
        box-shadow: 1rem 1rem 1rem $grey;
        display: flex;
        justify-content: center;
        height: 300px;
        list-style: none;
        margin: 1rem;
        transition: all 0.5s;
        width: calc(33% - 2%);
      }

      li.active{
        width: 99%;
        height: 80vh;
        background:$experienceActive;
        z-index: 2;
        order: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &_item_primary{
    padding: 20px;

    p {
      color: $white;
      margin: 20px 0;
      text-transform: uppercase;
    }
  }

  &_title{
    height: 100%;
    width: 30%;
  }
}



// .experience__title {
//   text-align: center;
//   margin: 3rem;
// }

// .experience-title {
//   padding: 0.1rem;
//   font-size: 1.2rem;

//   &-responsibility {
//     margin-bottom: 1rem;
//   }
// }

// .experience-list {
//   transform: translateX(1rem);

//   li {
//     font-size: 1.2rem;
//   }
// }

// @media (max-width: $tablet) {
//   .experience-title {
//     font-size: 1rem;
//   }

//   .experience-list {
//     transform: translateX(0.75rem);

//     li {
//       font-size: 1rem;
//       margin-bottom: 1rem;
//     }
//   }
// }

// @media (max-width: $mobile) {
//   .experience-title {
//     font-size: 0.5rem;
//     letter-spacing: 1px;
//   }
// }

// @media (max-width: $mobileSmall) {
//   .experience-title {
//     font-size: 0.5rem;
//   }
// }
