/* About Me */
.about-me__title h1 {
  text-align: center;
}

.about-me__container {
  width: 90%;
  margin: 0 5%;
}

.about-me__description{
  p{
    font-size: 1.5rem
  }
}

.about-me__image {
  vertical-align: middle;
  border-style: none;
  filter: grayscale(30%);
  width: 70%;
  border-radius: 1rem;
  margin: 0 15%;
}

@media(max-width: $tablet){
  .about-me__image{
    width: 50%;
    margin: 0 25% 5rem 25%;
  }
}