/* Contact Me */
.contact__me {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
}

.contact__me.github,
.contact__me.linkedin,
.contact__me.email{
  font-size: 1rem;
  font-weight: 600
}

.contact__me a,
.contact__me a:visited{
  color: $white;
  text-decoration: none;
}

.contact__me.linkedin{
  background: $linkedin;
  border: 1px solid $linkedinDark;
}

.contact__me.linkedin:hover{
  background: darken($linkedin, 10%);
  border: 0.1rem solid darken($linkedinDark ,30%);
  transition: 0.5s;
}

.contact__me.github{
  background: $github;
  border: 0.1rem solid $githubDark;
}

.contact__me.github:hover{
  background: darken($github ,10%);
  border: 0.1rem solid darken($githubDark ,30%);
  transition: 0.5s;
}

.contact__me.email{
  background: $email;
  border: 0.1rem solid $emailDark;
}

.contact__me.email:hover{
  background: darken($email ,10%);
  border: 0.1rem solid darken($emailDark ,30%);
  transition: 0.5s;
}

.contact-container-bar {
    width: 80%;
    height: 0;
    border: 0.2rem solid $neonDark;
    margin: 3rem 10%;
}

.contact-me__form{
  p{
    font-size: 1.5rem;
  }
}