/* Footer */
footer {
    position: absolute;
    background-color: #191919;
    bottom: 100;
    left: 0;
    width: 100%;
    h4{
      text-align: center;
      color: $white;
      padding: 1.5rem;
    }
}


.footer__nav{
  background-color: $greyDark;
  p, a { margin: 0; }
  ul{ 
    text-align: right;
    margin-right: 1rem; 
  }
  li {
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.3rem;
    border-left: 0.1rem solid $neon;
    transform: skew(-20deg);
  }
  a, a:visited{
    text-decoration: none;
    color: $grey;
  }
  li:hover {
    background-color: $neon;
    color: $black;
    border-left: 0.1rem solid $grey;
    transition: 0.3s;
    cursor: pointer;
  }
}

  #linkedin:hover { 
    background-color: $linkedin; 
    color: $white;
  }
  #github:hover { 
    background-color: $github; 
    color: $white;
  }