/* Footer */
footer {
    position: absolute;
    background-color: #191919;
    bottom: 100;
    left: 0;
    width: 100%;
    h4{
      text-align: center;
      color: $white;
      padding: 1.5rem;
    }
}


.footer__nav{
  background-color: $greyDark;
  p, a { margin: 0; }
  ul{ 
    text-align: right;
    margin-right: 1rem; 
  }
  li {
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: transparent;
    background: linear-gradient(to right, transparent 50%, $neonDark 50%);
    border-left: 0.1rem solid $neon;
    background-size: 200% 100%;
    background-position: left bottom;
    transition:all 0.5s ease;
    transform: skew(-20deg);

    &:hover{
      background-position: right bottom;
      color: $black;
      border-left: 0.1rem solid $grey;
      cursor: pointer;
    }
  }

  & .linkedin{
      background: linear-gradient(to right, transparent 50%, $linkedin 50%);
      border-left: 0.1rem solid $neon;
      background-size: 200% 100%;
      background-position: left bottom;
      transition:all 0.5s ease;  
    &:hover{
      background-position: right bottom;
      a{
        color: $white;      
      } 
    }
  }

  & .github{
      background: linear-gradient(to right, transparent 50%, $github 50%);
      border-left: 0.1rem solid $neon;
      background-size: 200% 100%;
      background-position: left bottom;
      transition:all 0.5s ease; 
    &:hover{
      background-position: right bottom; 
      a{
        color: $white;
      }
    }
  }

  a, a:visited{
    text-decoration: none;
    color: $grey;
  }
}

@media(max-width: $mobileSmall){
  .footer__nav{
    li{
      display: block;
      transform: skew(0deg);
      width: 100%;
    }
  }
}