/* Navigation */
.navbar{
  padding: 0%;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}

.navbar__desktop {
  margin: 0 10%;
  width: 70%;
  & li{
    display: inline-block;
    padding: 2rem;
    border-left: 1px solid $neon;
    background: transparent;
    background: linear-gradient(to right, transparent 50%, $neonDark 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition:all 0.5s ease;
    transform: skew(-20deg);

    &:hover{
      background-position: right bottom;
      border-left: 1px solid $grey;
      transition: 0.3s;
      cursor: pointer;
      h4{
        color: $black;
      }
    }

    & h4{
        color: $grey;
        transform: skew(20deg);
    }
  }
}


.navbar__mobile{
  display: none;
}

.hidden{
  display: none;
}