.portfolio__item {
  width: 31%;
  margin: 1%;
  box-shadow: 0.3rem 0.3rem 1rem $grey;
  .portfolio__item-card {
    border: 0 solid $black;
  }
}

.portfolio__item-link-container {
  margin: 1rem 0;
  p {
    border-left: 0.1rem solid $neonDark;
    padding: 0 0 0 1rem;
    width: 49%;
    display: inline-block;
    transform: skew(-20deg);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  p:hover {
    border-left: 1px solid $black;
    background: $neon;
    color: $white;
    transition: 0.5s;
    cursor: pointer;
  }

  a{
    color:inherit;
  }
}

.technology-stack {
  transform: translateX(2rem);
  font-size: 1.4rem;
  margin: 1rem 0;
}

.card-body{
  h3{
    font-size: 1.5rem;
  }
}

@media (max-width: $displaySmall) {
  .portfolio__item {
    width: 48%;
    margin: 1%;
  }
}

@media (max-width: $tablet) {
  .portfolio__item {
    width: 48%;
    margin: 1%;
  }
}

@media (max-width: $mobile) {
  .portfolio__item {
    width: 80%;
    margin: 1% 10%;
  }
}
