/* Re-useable Styling */
.emphasize{
  font-weight: 600;
  color: $neonDark
}

.emphasize-title {
  border-bottom: 2px solid $neonDark;
}

.section__title {
  text-align: center;
  padding: 2rem;
  margin: 3rem;

}   

.section__title.first{
  margin-top: 1rem;
}