/* Re-useable Styling */
// a,
// a:visited{
//   color: $white;
//   text-decoration: none;
// }

.emphasize{
  font-weight: 600;
  color: $neonDark
}

.emphasize-title {
  border-bottom: 0.2rem solid $neonDark;
}

.hidden{
  display: none;
}

.section__title {
  text-align: center;
  margin: 3rem;
  h1{
    font-size: 3rem;
    padding: 3rem 0;
  }
}   

.section__title.first{
  margin-top: 5rem;
}

@media(max-width: $mobileLarge){
    .section__title{
      h1 {
        font-size: 1.5rem;
      }
    }
}