/* Re-useable Styling */
.emphasize{
  font-weight: 600;
  color: $neonDark
}

.emphasize-title {
  border-bottom: 0.2rem solid $neonDark;
}

.section__title {
  text-align: center;
  margin: 3rem;
  h1{
    font-size: 3rem;
  }
}   

.section__title.first{
  margin-top: 5rem;
}