// Colors
$white: #ffffff;
$linkedin: #0077b5;
$linkedinDark: #004367;
$github: #6e5494;
$githubDark: #39156f;
$email: #bd2c00;
$emailDark: #721b00;
$neon: #4823E1;
$neonDark: #2400b6;
$lightGrey: #696969;
$grey: #848c93;
$greyDark: #343a40;
$black: #000000;

// Display widths
$mobileSmall: 425px;
$mobile: 500px;
$mobileLarge: 600px;
$tablet: 768px;
$displaySmall: 900px;
$displayLarge: 1440px;
